---
import astropodConfig from "../../../.astropod/astropod.config.json";
const { title, subtitle, explicit, cover } = Astro.props;

import ListenOnMenu from "./listenOnMenu.astro";
import FollowUsMenu from "./followUsMenu.astro";
import RssIcon from "../icons/rssIcon.astro";
import HeartIcon from "../icons/heartIcon.astro";

const explicitLabel = explicit === undefined ? astropodConfig.explicit : explicit;
let cover_url = cover ? cover : astropodConfig.cover;
---


<div class="episode-card">
  <div class="hero-content flex-row">
    <a href="/" class="min-w-fit">
      <img src={cover_url} class="rounded-md w-40 h-40" />
    </a>
    <div class="grow w-full">
      <a href="/">
        <h1 class="md:text-xl text-sm font-semibold truncate">
          {title}
        </h1>
        <p class="mb-5 text-xs md:text-sm ">New ambient and ambient adjacent music every Thursday at 9:00pm PDT on <a href="https://cjmp.ca" class="link hover:no-underline">CJMP 90.1 FM</a>.</p>
        </a>
        <nav>
          <!-- <a href="/" class="m-1 btn bg-transparent border-gray-600 hover:bg-gray-600">Episodes</a> -->
          <!-- <a href="/about" class="bm-1 btn bg-transparent border-gray-600 hover:bg-gray-600">About</a> -->
          <ListenOnMenu />
          <FollowUsMenu />
        </nav>
    </div>
  </div>

</div>


<!-- <h1 class="mt-3 mb-3 text-lg md:text-4xl font-black text-white">{title}</h1>
<a href="/"><img
  alt={astropodConfig.name + "cover"}
  class="border-4 border-base-100 rounded-lg w-24 h-24 md:h-40 md:w-40"
  src={cover_url}
/></a> -->


<!-- <p>New ambient and ambient adjacent music every Thursday at 9:00pm PST on <a href="https://cjmp.ca/">CJMP 90.1 FM</a>.</p> -->